day01/input1.txt
day01/day01

day02/input2.txt
day02/day02

day03/day03
day03/input3.txt

day04/day04
day04/input4.txt

day05/day05
day05/input5.txt

day06/day06
day06/input6.txt

day07/day07
day07/input7.txt

day08/input8.txt
day08/t8.txt

day09/input9.txt
day10/input10.txt
day11/input11.txt
day12/input12.txt
day13/input13.txt
day14/input14.txt
day15/input15.txt
day16/input16.txt

day17/day17
day17/input17.txt